
.rel-card {
    display:flex;
    gap:6px;
    padding:4px;
    border:1px solid #66000055;
    margin:4px 0;
    align-items:center;
}

.rel-card img {
    width:32px;
    height:32px;
}

.wod-rel-header {
    margin-bottom:8px;
}
